.env
weather_project/utils/config.ini
services/airflow/dags/__pycache__/
services/airflow/logs/
weather_project/__pycache__/
weather_project/utils/__pycache__/
weather_project/build
weather_project/weather_project.egg-info
weather_project/w_venv
